<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="taxMode" value="Prod"/>
    <add key="orderMode" value="Prod"/>
    <add key="productMode" value="Prod"/>
    <add key="respositoryFolder" value="\\Mac\Home\Documents\SWGuild\bert-luebbe-individual-work\SGBank\Repository"/>

  </appSettings>
</configuration>